/home/omnoai/Desktop/Osama/sf-net/data
/home/omnoai/Desktop/Osama/sf-net/SegFormer_MiT-B2_ADE20K.pth
/home/omnoai/Desktop/Osama/sf-net/sf_net.pth
/home/omnoai/Desktop/Osama/sf-net/testing_images_old
/home/omnoai/Desktop/Osama/sf-net/testing_images
/home/omnoai/Desktop/Osama/sf-net/sf_net_to_sent
/home/omnoai/Desktop/Osama/sf-net/failed_cases
/home/omnoai/Desktop/Osama/sf-net/output
